{% extends 'admin_view/Forms/main.html' %}

{% block form_title %}
    Counselor Form
{% endblock %}

{% block progress_bar %}
    <!-- You can add a progress bar here if needed -->
{% endblock %}

{% block form_content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
    </div>
    <div class="form-group">
        <label for="{{ form.block.id_for_label }}">{{ form.block.label }}</label>
        {{ form.block }}
    </div>
    <div class="form-group">
        <label for="{{ form.contact_number.id_for_label }}">{{ form.contact_number.label }}</label>
        {{ form.contact_number }}
    </div>
    <div class="form-group">
        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
        {{ form.image }}
    </div>
    <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'counselor' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
{% endblock %}
