{% extends 'main.html' %}

{% block title %}Help Page{% endblock %}

{% block content %}
<br><br><br>
<div class="custom_container mt-5">
    <h2 class="text-center mb-4">Counselor Information</h2>
    <div class="row">
        {% for captian in captain %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ captian.image.url }}" class="card-img-top" alt="{{ captian.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ captian.name }}</h5>
                    <p class="card-text">Block Counselor of: {{ captian.block }}</p>
                    <p class="card-text">Contact Number: {{ captian.contact_number }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-img-top {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
        object-fit: contain; /* Ensure the entire image is shown */
    }
    .card-body {
        padding: 20px;
    }
    .custom_container {
        background: #f7f7f7;
        padding: 30px;
        border-radius: 10px;
    }
</style>
{% endblock %}
